.blurb {
    border: 1px solid black;
    background-color: white;
}

.headerBlockMain {
    background-color: #c62828;
    color: white;
}

.headerBlock {
    background-color: #c62828;
    color: white;
}